@model DoorsOpen.Models.BuildingModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BuildingModel</h4>
<hr />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Building" class="control-label"></label>
                        <input asp-for="Building" class="form-control" />
                        <span asp-validation-for="Building" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address1" class="control-label"></label>
                        <input asp-for="Address1" class="form-control" />
                        <span asp-validation-for="Address1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address2" class="control-label"></label>
                        <input asp-for="Address2" class="form-control" />
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="State" class="control-label"></label>
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Zip" class="control-label"></label>
                        <input asp-for="Zip" class="form-control" />
                        <span asp-validation-for="Zip" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="WheelchairAccessible" /> @Html.DisplayNameFor(model => model.WheelchairAccessible)
                            <span class="form-check-sign">
                                <span class="check" style="background-color: white"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="RestroomsAvailable" /> @Html.DisplayNameFor(model => model.RestroomsAvailable)
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="WheelchairAccessibleRestroom" /> @Html.DisplayNameFor(model => model.WheelchairAccessibleRestroom)
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="PhotographyAllowed" /> @Html.DisplayNameFor(model => model.PhotographyAllowed)
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="StartTime" class="control-label"></label>
                        <input asp-for="StartTime" class="form-control" />
                        <span asp-validation-for="StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EndTime" class="control-label"></label>
                        <input asp-for="EndTime" class="form-control" />
                        <span asp-validation-for="EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Capacity" class="control-label"></label>
                        <input asp-for="Capacity" class="form-control" />
                        <span asp-validation-for="Capacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HistoricalOverview" class="control-label"></label>
                        <textarea asp-for="HistoricalOverview" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="HistoricalOverview" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VisitorExperience" class="control-label"></label>
                        <textarea asp-for="VisitorExperience" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="VisitorExperience" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-new thumbnail" style="width: 200px; height: 200px;">
                                @if (Model != null && Model.Image != null)
                                {
                                    <img src="@Url.Content(Model.Image)" class="photo" id="imageUrl" alt="..." />
                                }
                                else
                                {
                                    <img src="/content/img/400x400.png" class="photo" id="imageUrl" alt="...">
                                }
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                            <div>
                                <span class="btn btn-default btn-file"><span class="fileinput-new">Add Image</span><span class="fileinput-exists">Change</span><input type="file" name="upload"></span>
                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Original</a>
                                <div class="btn btn-default fileinput-new" id="delete-image">Remove Image</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
